{% extends "RepGestionBundle:Rep:accueil.html.twig" %}
{% block title %}{{ parent() }} - Comptes{% endblock %}

{% block detail %}
    <div class="col-md-7  well panel-primary active">
        <div id="myModal" class="modal fade">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h2 class="modal-title" style="color: blue;">Détachement d'une branche</h2>
                    </div>
                    <div class="modal-body" style="background: #515163">
                        <p style="
                           color: cyan;
                           font-size: large;">Dérouler pour choisir sa nouvelle branche de rattachement</p>
                        <scroll class="panel-body" style="
                                color: #04101b;
                                font-size: 16px;">
                            {% if arbreDirectionBranche is defined %}
                                {{ arbreDirectionBranche | raw }}
                            {% endif %}
                            <b><nav class="form-control col-md-12" id="newBranch" style="
                                    background: #777777;
                                    color: #0d0e0e;
                                    font-size: 22px;
                                    margin-bottom: -30px;"><b>Votre choix!!!</b></nav>
                            </b>
                        </scroll>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove-sign">Annuler</span></button>
                        <a href="{{ path('update_direction_pere', {'id': 1, 'idPere': 1}) }}">  
                            <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-ok-sign">Valider</span></button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
