{% extends "RepGestionBundle:Rep:detail.html.twig" %}
{% block title %}Ajout d'un nouveau poste{% endblock %}

{% block poste %}
    <h4 class="col-md-12"><b><u>Ajout d'un nouveau poste</u></b></h4>
    <div class="well col-md-12">
        <form method="post" {{ form_enctype(form) }} class="col-md-12">
            {{ form_widget(form) }}
            <a><button type="button" class="btn btn-success active col-md-2 "><span class="glyphicon glyphicon-remove-circle">Annuler</span></button></a>
            <a><button type="submit" class="btn btn-primary col-md-2 col-md-offset-2"><span class="glyphicon glyphicon-plus-sign">Ajouter</span></button></a>
        </form>
    </div>
{% endblock %}