{% extends "RepGestionBundle::layout.html.twig" %}
{% block title %}Ajout d'un nouveau poste{% endblock %}

{% block body %}
    <div class="well col-md-12">
        <a><button type="button" class="btn btn-success active col-md-2 "><span class="glyphicon glyphicon-remove-circle">Annuler</span></button></a>
    </div>
{% endblock %}