<!DOCTYPE html>
<html>
    <head>
        <title>Testons l'arbre</title>
        <script src="{{ asset('bootstrap/js/jquery.min.js') }}" type="text/javascript" ></script>
        <script src="{{ asset('bootstrap/js/funcs.js') }}" type="text/javascript" ></script>
    </head>
    <body>
        <ul>
            <li>Pays</li>
            <ul>
                <li>Organisation</li>
                <ul>
                    <li>Regions</li>
                    <ul>
                        <li>Ouest</li>
                        <li>Littoral</li>
                        <li>Centre</li>
                    </ul>
                </ul>
                <li>Administration</li>
                <ul>
                    <li>Ministeres</li>
                    <ul>
                        <li>MINESUP</li>
                        <li>MINFOPRA</li>
                        <li>MINFI</li>
                        <li>MINPOSTEL</li>
                    </ul>
                </ul>
            </ul>
        </ul>
        {{arbreDirection | raw }}
    </body>
</html>
